#table-wrapper{
    height: 60%;
    width: 95%;
    display: flex;
    align-content: space-evenly;
    position: relative;
    left: 50%;
    top: 0%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    margin: 30px;
}

table, th, td {
  border: 5px solid grey;
  min-height:40px;
}

/*This will work on every browser*/
#table-wrapper thead th:first-child {
  left: 0;
  z-index: 1;

}

 .td {
      margin: 0;
      position: relative;
      :last-child {
        border-right: 0;

      }
  }

#head-wrapper {
    white-space: nowrap;
    text-overflow:ellipsis;


}

.resizer {
      display: inline-block;
      background: black;
      width: 5px;
      height: 50%;
      position: absolute;
      right: 5%;
      top: 25%;
      transform: translateX(50%);
      z-index: 1;
}


